/*main components*/
.body {
    margin: 0;
    padding: 0;
    background: url("../images/background.jpg");
    background-size: cover;
}
.header {
    background: #0060B0;
    width: 100%;
    margin: 0;
    text-align: center;
}
.table {
    width: 100%;
    height: 85%;
    margin: 0;
    padding: 0;
    text-align: center;
    border-collapse: collapse;
}
.cell {
    height: 10px;
    padding: 0;
}
/*header*/
.header-table {
    width: 100%;
    border-collapse: collapse;
}
.header-cell {
    width: 165px;
}
/*sign in-up form*/
.div-sign {
    width: 225px;
    background: #00C0FF;
    padding: 10px;
    border: 1px solid #0060B0;
    margin: 5px;
}
.sign-header {
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 5px #0060B0;
    margin: 5px 0;
}
.sign-text {
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin: 0 5px;
    text-shadow: 0 0 3px #0060B0;
    border-bottom: 1px dotted #ffffff;
}
.sign-text:hover {
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}
.error-msg {
    font-family: "Tahoma", sans-serif;
    font-size: 14px;
    color: #FF2F2F;
    margin: 2px 0;
    text-shadow: 0 0 3px #FFAFAF;
}
.input {
    width: 100%;
    height: 27px;
    margin: 3px 0;
    padding-left: 5px;
    border: 1px solid #0060B0;
    font-size: 15px;
    font-family: "Tahoma", sans-serif;
}
.hidden {
    display: none;
}
.div-sign-buttons {
    text-align: center;
}
.action {
    margin: 3px 0;
    padding: 3px 5px;
    font: 18px bold;
    font-family: "Tahoma", serif;
    border: 1px solid #000000;
    background: #FDCB50;
    color: #000000;
}
.action:hover {
    background: #FDDB50;
    cursor: pointer;
}
/*content*/
.welcome-text {
    font: 18px Tahoma;
    color: #0060B0;
    padding: 5px 0;
}
.welcome-text-big {
    font: 20px Tahoma;
    color: #0060B0;
    padding: 10px 0;
}
.image-flag {
    height: 50px;
    border-radius: 100px;
    border: 2px white solid;
    cursor: pointer;
}
.div-lang {
    float: right;
    padding: 2px;
    margin: 0;
}
/*functions*/
.functions-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.function-div {
    width: 90%;
    height: 35%;
    vertical-align: middle;
}
.function-table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.function-image {
    height: 60px;
    border-radius: 100px;
    border: 3px solid #00C0FF;
}
.function-header {
    font-family: "Tahoma", sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: #0000BF;
}
.function-text {
    font-family: "Tahoma", sans-serif;
    font-size: 0.8em;
}
.function-cell {
    width: 10px;
}